@charset "utf-8";
/* CSS Document */
html {
	min-height:100%;
	background-size:cover;
	background-image:url(https://img.freepik.com/vector-gratis/fondo-textura-acuarela-pastel-abstracto_10126-1199.jpg?size=626&ext=jpg);
	background-repeat:no-repeat;
	background-position:right, bottom;
	}
	

}

button {
  display: block;
  padding: 02px;
  width: 100px;
  margin: auto;
}
.circular--square {
  border-top-left-radius: 90% 90%;
  border-top-right-radius: 90% 90%;
  border-bottom-right-radius: 90% 90%;
  border-bottom-left-radius: 90% 90%;
}
.circular-square {
  border-top-left-radius: 30% 30%;
  border-top-right-radius: 30% 30%;
  border-bottom-right-radius: 30% 30%;
  border-bottom-left-radius: 30% 30%;
  
h1text - align: center; }
h1{ font-size: 60px; }
p { font-size: 20px; }
font { font-size: 20px; }
h2 { font-size: 15px; }
